# Ignorer les fichiers générés par l'IDE (comme IntelliJ ou Eclipse)
.idea/
*.iml

# Ignorer les fichiers de compilation et les répertoires de sortie
/target/
/bin/
/build/

# Ignorer les fichiers de configuration système
.classpath
.project

# Ignorer les fichiers de configuration d'éditeur
*.swp

# Ignorer les fichiers de sauvegarde
*~

# Ignorer les fichiers de log
*.log
